<% content_for :head do %>
  <title>The Middleman!</title>
<% end%>

<div data-role="header">
  <h1>List!</h1>
</div><!-- /headr -->

<div data-role="content">
  <ul data-role="listview" data-split-icon="gear" data-split-theme="a">
    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-theme="c" >
      <a href="index.html" class="ui-link-inherit">
        <img src="images/squarePlaceholder.png" class="ui-li-thumb">
        <h3 class="ui-li-heading">Broken Bells</h3>
        <p class="ui-li-desc">Broken Bells</p>
      </a>
      <a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album" class="ui-li-link-alt ui-btn ui-btn-up-c" data-corners="false" data-shadow="false" data-iconshadow="true" data-icon="false" data-iconpos="false" data-theme="c">
        <span data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-icon="gear" data-iconpos="notext" data-theme="d" title="" class="ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all ui-btn-icon-notext">
          <span class="ui-icon ui-icon-gear ui-icon-shadow">&nbsp;</span>
        </span>
      </a>
    </li>
    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-theme="c" >
      <a href="index.html" class="ui-link-inherit">
        <img src="images/squarePlaceholder.png" class="ui-li-thumb">
        <h3 class="ui-li-heading">Broken Bells</h3>
        <p class="ui-li-desc">Broken Bells</p>
      </a>
      <a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album" class="ui-li-link-alt ui-btn ui-btn-up-c" data-corners="false" data-shadow="false" data-iconshadow="true" data-icon="false" data-iconpos="false" data-theme="c">
        <span data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-icon="gear" data-iconpos="notext" data-theme="d" title="" class="ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all ui-btn-icon-notext">
          <span class="ui-icon ui-icon-gear ui-icon-shadow">&nbsp;</span>
        </span>
      </a>
    </li>
    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="false" data-theme="c" >
      <a href="index.html" class="ui-link-inherit">
        <img src="images/squarePlaceholder.png" class="ui-li-thumb">
        <h3 class="ui-li-heading">Broken Bells</h3>
        <p class="ui-li-desc">Broken Bells</p>
      </a>
      <a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album" class="ui-li-link-alt ui-btn ui-btn-up-c" data-corners="false" data-shadow="false" data-iconshadow="true" data-icon="false" data-iconpos="false" data-theme="c">
        <span data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-icon="gear" data-iconpos="notext" data-theme="d" title="" class="ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all ui-btn-icon-notext">
          <span class="ui-icon ui-icon-gear ui-icon-shadow">&nbsp;</span>
        </span>
      </a>
    </li>
	</ul>
</div><!-- /content -->

<div data-role="footer" data-position="fixed">
  <h4>Page Footer</h4>
</div><!-- /footer -->
