<% content_for :head do %>
  <title>The Middleman!</title>
<% end%>

<div data-role="header">
  <h1>Middleman!</h1>
</div><!-- /headr -->

<div data-role="content">
  <form action="form.php" method="post">
    <div data-role="fieldcontain" class="ui-hide-label">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" value="" placeholder="Username"/>
    </div>
    <div data-role="fieldcontain" class="ui-hide-label">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" value="" placeholder="Password"/>
    </div>
    <input type="submit" value="submit"/>
  </form>
</div><!-- /content -->
<div data-role="footer" data-id="foo1" data-position="fixed" class="ui-footer ui-bar-a ui-footer-fixed slideup" role="contentinfo">
  <div daa-role="navbar" class="ui-navbar ui-navbar-noicons" role="navigation">
    <ul class="ui-grid-b">
      <li class="ui-block-a"><a href="footer-persist-a.html" data-prefetch="true" class="ui-btn-active ui-state-persist ui-btn ui-btn-inline ui-btn-up-a" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-theme="a" data-inline="true"><span class="ui-btn-inner"><span class="ui-btn-text">Log in</span></span></a></li>
      <li class="ui-block-b"><a href="footer-persist-b.html" data-prefetch="true" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-theme="a" data-inline="true" class="ui-btn ui-btn-inline ui-btn-up-a"><span class="ui-btn-inner"><span class="ui-btn-text">Sign up</span></span></a></li>
      <li class="ui-block-c"><a href="footer-persist-c.html" data-prefetch="true" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-theme="a" data-inline="true" class="ui-btn ui-btn-inline ui-btn-up-a"><span class="ui-btn-inner"><span class="ui-btn-text">Reset</span></span></a></li>
    </ul>
  </div><!-- /navbar -->
</div>
